*{
    margin: 0%;
    padding: 0%;
}
body{
    height:75%;
    background-color: black;;
    display: grid;
    grid-template-rows: 50% 20% 30%;
    grid-template-columns: 45% 20% 35%;
    grid-template-areas:"color-red color-red color-green"
              "color-yellow color-blue color-blue"
              "color-yellow color-purple color-purple";
    grid-column-gap: .3rem;
    grid-row-gap: .3rem;
              padding: 5%;
}
#red{ 
    grid-area:color-red;
    background-color: red;
}
#green{
    grid-area:color-green;
    background-color: green;

}
#yellow{
    grid-area:color-yellow;
    background-color: yellow;

}
#purple{
    grid-area:color-purple;
    background-color: purple;

}
#blue{
    grid-area:color-blue;
    background-color: blue;

}


